
<div class="mail_index">
  <div class="col-md-2">
    <%= link_to "Compose", new_send_mail_path, :class=>"btn btn-danger" %>
    <%= link_to "Draft", draft_mail_send_mails_path, :class=>"btn btn-primary" %>
  </div>
<div class="col-md-10">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>To</th>
      <th>Subject</th>
    </tr> 
  </thead>
  <tbody>
    <% @send_mails.each do |send_mail| %>
    <% if send_mail.status == true %>
      <tr>
        <td class="col-md-4"><%= link_to send_mail.to, send_mail %></td>
        <td><%= link_to send_mail.subject, send_mail %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>  
</div>
</div>

